{#
/**
 * @file
 * Default theme implementation for a summary of an example webform handler.
 *
 * Available variables:
 * - settings: The current configuration for this handler:
 *   - name: The name of the cookie to be set.
 *   - value: The value of the cookie to be set.
 *   - duration: The amount of time the cookie persists.
 *   - domain: The (sub)domain that the cookie is available to.
 *   - secure: Indicates that the cookie should only be transmitted over a secure HTTPS connection from the client.
 *   - http_only: When TRUE the cookie will be made accessible only through the HTTP protocol.
 * - handler: The handler information, including:
 *   - id: The handler plugin id.
 *   - handler_id: The handler id.
 *   - label: The handler label.
 *   - description: The handler description.
 * - name: The name of the cookie to be set.
 * - value: The value of the cookie to be set.
 * - expires: The expiration time for the cookie.
 * - domain: The (sub)domain that the cookie is available to.
 * - secure: Indicates that the cookie should only be transmitted over a secure HTTPS connection from the client.
 * - http_only: When TRUE the cookie will be made accessible only through the HTTP protocol.
 *
 * @ingroup themeable
 */
#}

{% if settings.debug %}<b class="color-error">{{ 'Debugging is enabled'|t }}</b><br />{% endif %}

<div>
  {% trans %}
    <b>Cookie name:</b> {{ name }}
  {% endtrans %}
</div>
<div>
  {% trans %}
    <b>Cookie value:</b> {{ value }}
  {% endtrans %}
</div>
<div>
  {% trans %}
    <b>Cookie duration:</b> {{ duration }}
  {% endtrans %}
</div>
<div>
  {% trans %}
    <b>Domain:</b> {{ domain }}
  {% endtrans %}
</div>
<div>
  {% trans %}
    <b>Secure:</b> {{ secure }}
  {% endtrans %}
</div>
<div>
  {% trans %}
    <b>HTTP only:</b> {{ http_only }}
  {% endtrans %}
</div>
